* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #607D8B;
}

/* Container Styles */
.container {
    padding: 20px;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    min-height:400px;
}

.centered-content {
    text-align: center;
  }

/* Logo Styles */
.logo {
    width: 272px; /* Размер логотипа Google */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Input and Button Styles */
input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 600px;
    height: 40px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
/* Button Styles */
button {
    padding: 10px 20px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

/* Media Queries */
@media (max-width: 768px) {
    input[type="text"],
    button {
        width: 100%; /* Установка ширины на 100% для мобильных устройств */
    }
}